# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=susemon_db
DB_PORT=3306

# JWT Secret
JWT_SECRET=susemon_secret_key_2026_pbl_trpl412

# CORS
CORS_ORIGIN=http://localhost:8080,http://127.0.0.1:50174

# WebSocket
WS_PORT=3001

# AI Configuration
AI_THRESHOLD_TEMP=40
AI_THRESHOLD_HUMIDITY=80
AI_PREDICTION_WINDOW=30
